.cart {
  background: #ffffff;
  width: 100%;
  height: 100%;
    
   
  
}
.Forma{
  width: 410px;
  height: 351px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.logo {
  width: 138px;
  height: 34px;
}
.logoHeader{
  width: 103px;
height: 25px;
margin-left: 41px;
margin-right: 67px;
}
.submit {
  border: 2px solid;
  background: #0073a4;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  width: 140px;
  height: 40px;
  border-radius: 6px;
}
.forms {
  border: 2px solid rgba(0, 44, 68, 0.25);
  border-radius: 6px;
  width: 320px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 44, 68, 0.5);
}
.formick {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
#root {
  width: 1920px;
  height: 1080px;
  font-family: "Roboto";
  background-color: #ffffff;
}

.linkNavigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.Profil{
  border: 0;
  outline: none;
  background-color: transparent;
  margin-left: 690px;
}
.buttonNavigation {
  border: 0;
  outline: none;
  color: rgba(0, 44, 68, 0.25);
  width: 162px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}

.buttonNavigation:focus {
  vertical-align: middle;
  color: #002c44;
}
.backButton {
  border: none;
  outline: none;
  background-color: #ffffff;
}

.Object {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-left: 22px;
}
.Header {
  display: flex;
  margin: auto;
  align-items: center;
}

.Mainheader {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-left: 20px;
  background: #E5E5E5;
  margin: auto;
  padding: 0;
}
.MainmenuCheck{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.User {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 38px;
}

.chel {
  position: relative;
  top: -25px;
  left: -157px;
}
.backButtonConteiner {
  position: absolute;
  top: -20px;
  left: 780px;
  background-color: white;
}
.iconca {
  position: relative;
  right: 170px;
  top: 14px;
}
.strelca {
  position: relative;
  top: -29px;
}
.Services{
  width: 139px;
height: 40px;
color: #0073A4;
border: 2px solid #0073A4;
border-radius: 6px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.servicesButton{
  border: none;
  outline: none;
  background-color: #E5E5E5;
}
.imgServicesButton {
  width: 139px;
  height: 40px;
}
.xls{
  width: 26px;
height: 32px;
}
.textServicesButton{
  position: relative;
  top: -11px;
  left: 17px;
}

.butoonImg{
  background-color: transparent;
  border: none;
  outline: none;
  color: #002C44;
  font-family: "Roboto";
  font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
justify-content: center;
align-items: center;
}
.imgbutoonImgfail1{
  position: relative;
  left: -18px;
  top: 0px;
}
.imgbutoonImgfail2{
  position: relative;
  left: -20px;
  top: -2px;
}
.imgbutoonImgfail3{
  position: relative;
  left: -30px;
  top: 8px;

}
.imgConteiner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgbutoonImgcheck1{
  position: relative;
  top: 0px;
  left: -15px;
}
.settingsButtom{
  border: 2px solid;
  background-color:  #0073A4;
border-radius: 6px;
width: 190px;
height: 40px;
color: #FFFFFF;
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin-right: 20px;

}
.settingsConteiner{
     margin-left: 1016px;
}
.Search{
  background: #FFFFFF;
border: 2px solid rgba(0, 44, 68, 0.25);
border-radius: 6px;
width: 281px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-left: 20px;
}
.settingsText{
  position: relative;
  top: -8px;
}


.Imagemenu{
  width: 14px;
  height: 9.33px;
}
.Mainmenu{
 
  margin: auto;
  display: flex;
  align-items: center;  
  padding: 0;
  background: #E5E5E5;
}
.Linkmenu{
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
 padding: 0;
 color: #002C44;
 
  

}
.linkmenu{
  display: flex;
  align-items: center;
  background-color:  #E5E5E5;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}
.linkmenu18 {
  display: flex;
  align-items: center;
}
.linkmenu0{
  margin-left: 35px;
}
.linkmenu1{
  gap: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.linkmenu2{
  margin-left: 20px;
  gap: 5px;
  padding: 0;
  
}
.linkmenu3{
  margin-left: 20px;
  gap: 5px;
  padding: 0;
}
.linkmenu4{
margin-left: 37px;
gap: 5px;
padding: 0;
}
.linkmenu5{
  margin-left: 22px;
  gap: 5px;
  padding: 0;
}
.linkmenu6{
  margin-left: 55px;
  gap: 5px;
   padding: 0;
}
.linkmenu7{
  margin-left: 56px;
  gap: 5px;
  padding: 0;
}
.linkmenu8{
  margin-left: 30px;
  gap: 5px;
  padding: 0;
}
.linkmenu9{
  margin-left: 30px;
  gap: 5px;
  padding: 0;
}
.linkmenu10{
  margin-left: 34px;
  gap: 5px;
  padding: 0;
}
.linkmenu11{
  margin-left: 35px;
  gap: 5px;
  padding: 0;
}
.linkmenu12{
  margin-left: 20px;
  gap: 5px;
  padding: 0;
}
.linkmenu13{
  margin-left: 20px;
  gap: 5px;
   padding: 0;
}
.linkmenu14{
  margin-left: 21px;
  gap: 5px;
  padding: 0;
}
.linkmenu15{
  margin-left: 20px;
  gap: 5px;
  padding: 0;
}

.checkbox{
  width: 18px;
  height: 18px;
  
}
.td{
  display: flex;
  align-items: center;
  margin-top: -3px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
  
}
.thead{
  background: #E5E5E5;
  margin: 0;
  width: 1920px;
  height: 60px;
}
.table{
  margin-top: -2px;
}