.Object1 {
  border: 1px solid #e6eaed;
  border-left: 0;
  width: 204px;
  height: 40.2px;
  margin-left: 35px;
  gap: 15px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.massiv {
  display: flex;
  width: 100%;
}
.conteinerOject1 {
  display: flex;
  align-items: center;

}
.Object2 {
  border: 1px solid #e6eaed;
  width: 138px;
  height: 40.2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Object2Text {
  position: relative;
  left: 12px;
  top: -3px;
}
.Object3 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  width: 64px;
  height: 40.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Object4 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  width: 153px;
  height: 40.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Object5 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  width: 96px;
  height: 40.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Object6 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  width: 153px;
  height: 40.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Object7 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 40.2px;
}

.Object8 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 40.2px;
}
.Object9 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 40.2px;
}
.Object10 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 40.2px;
}
.Object11 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 40.2px;
}
.Object12 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40.2px;
}
.Object13 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40.2px;
}
.Object14 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 40.2px;
}
.Object15 {
  border: 1px solid #e6eaed;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-right: 0;
  width: 125px;
  height: 40.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
