.Object1{
    
    border: 1px solid #E6EAED;
    border-left: 0;
    width: 204px;
    height: 40.2px;
    margin-top: -16px;
    gap: 15px;
    margin-left: -16px;
    font-family: "Roboto";
    font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.conteinerOject1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Object2{
    border: 1px solid #E6EAED;
    width: 138px;
    height: 40.2px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
margin-top: -16px;

}
.Object2Text{
    position: relative;
    left: 12px;
    top: -3px;
}
.Object3{
    border: 1px solid #E6EAED;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: -16px;
    width: 64px;
    height: 40.2px;
    
}
.Object4{
    border: 1px solid #E6EAED;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: -16px;
    width: 153px;
    height: 40.2px;
    
}
.Object5{
    border: 1px solid #E6EAED;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: -16px;
    width: 96px;
    height: 40.2px;
    
}
.Object6{
    border: 1px solid #E6EAED;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: -16px;
    width: 153px;
    height: 40.2px;
    
}
.Object7{
    border: 1px solid #E6EAED;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: -16px;
    width: 65px;
    height: 40.2px;
}
    
    .Object8{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 163px;
        height: 40.2px;
        
    }
    .Object9{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 83px;
        height: 40.2px;
        
    }
    .Object10{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 109px;
        height: 40.2px;
        
    }
    .Object11{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 85px;
        height: 40.2px;
        
    }
    .Object12{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 152px;
        height: 40.2px;
        
    }
    .Object13{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 152px;
        height: 40.2px;
        
    }
    .Object14{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 114px;
        height: 40.2px;
        
    }
    .Object15{
        border: 1px solid #E6EAED;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: -16px;
        width: 125px;
        height: 40.2px;
        
    }
